# IDE or editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Database dump file
*.bak

# Environment-specific files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.orig
*.swp

# Compressed files
*.zip
*.tar.gz
*.7z
